<ng-template ngFor let-menu [ngForOf]="items" let-i="index">
    <span *ngIf="menu.isVisible && menu.displayName != 'Logout'" class="example-icon">
        <a class="menu-item" [routerLink]="[menu.url]" 
            routerLinkActive="active-menu-item"
        >
            {{menu.displayName}} 
        </a>
    </span>
    <span *ngIf="menu.isVisible && menu.displayName == 'Logout'" class="example-icon">
        <a class="menu-item" (click)="logout()"
        >
            {{menu.displayName}} 
        </a>
    </span>
</ng-template>

