<div class="course-container">
  <mat-form-field>
    <input matInput placeholder="Id" [(ngModel)]="course.id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="course.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Faculty" [(ngModel)]="course.faculty">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="course.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Duration" [(ngModel)]="course.duration">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onCreate()">Create Course</button>
</div>
