<div class="height-class">
  <form (ngSubmit)="submitForm()" [formGroup]="signupForm">
    <div formGroupName="userDataForm">
      <mat-form-field>
        <input matInput placeholder="User Name" formControlName="username">
        <mat-error *ngIf="signupForm.get('userDataForm').get('username').invalid">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="signupForm.get('userDataForm').get('email').errors?.required">Email is required</mat-error>
        <mat-error *ngIf="!signupForm.get('userDataForm').get('email').errors?.required && signupForm.get('userDataForm').get('email').errors?.email">Email is not valid</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
        <textarea matInput placeholder="Address" formControlName="address"></textarea>
        <mat-error *ngIf="signupForm.get('address').invalid">Address is required</mat-error>
    </mat-form-field>

    <div formArrayName="fields">
        <h3>Your Fields</h3>
        <button mat-raised-button (click)="addField()">Add Field</button>

        <div *ngFor="let control of signupForm.get('fields').controls; let i = index">
          <input type="text" formControlName="{{i}}">
        </div>
    </div>

    <button type="submit" mat-raised-button color="primary">
      Submit
    </button>
    <button mat-raised-button color="warn" (click)="reset()">
      Reset
    </button>
  </form>
</div>